body {
    font-family: poppins;
    background-color: #bfe5ef; /*color de fondo*/
  
}

p{
    line-height: 2;
    color: #02162c;
    
}
/*Menú de navegación */
.menu-nav {
    height: 60px;
    background-color: #ffffff;
    padding: 45px 0;
    display: flex;
    align-items: center;
    padding-bottom: 60px ;
    }
   /*Con la siguiente clase del menú de navegación , agregamos espacio entre las palabras(a= los links)*/
.menu-nav a{
    margin-right: 30px;
    }
.menu-nav a:hover{/*cambia el color cuando se pasa el mouse*/
        color: rgb(255, 255, 255);
    }
    .nav-link {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        transition: background-color 0.3s, color 0.3s;
    }
    .nav-link:hover, .nav-link.active {
        background-color: #bbaad1;
        color: white;
    }
table{
    width: 90%;
    border: 1px solid #bfe5ef;
    border-collapse: collapse;
    margin-right: 20px;
    /*margin-left: 8%;*/
    text-align: center;
}

/*Sección del Centro*/
.hero {
    background: url('images/prescolar kids sin fondo.png') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    margin-top: 60px;
}

.hero h2, .hero p {
    position: relative;
    z-index: 2;
}
.hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
}

.container .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 25px;
}
.imag-Center{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 10%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    
}
.container img {
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.centered-image {
        margin-top: 0%; /* Ajusta el margen superior según sea necesario */
}
/* Efecto de movimiento en las imágenes */
.hover-move {
    transition: transform 0.3s ease;
}

.hover-move:hover {
    transform: scale(1.05);
}
.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
´.background-image {
    background-color: #bfe5ef;
}
.container {
    
    background-color: #bfe5ef;
    
}